colorama==0.4.6
fonttools==4.25.0
imageio==2.33.0
lazy_loader==0.3
mkl-service==2.4.0
munkres==1.1.4
networkx==3.1
ply==3.11
PyQt5==5.15.10
PyWavelets==1.4.1
scikit-image==0.21.0
scipy==1.10.1
tifffile==2023.7.10
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tqdm==4.66.1
matplotlib==3.7.2